# This is an opt-in .gitignore system.
*
!/.gitignore
!/.vscode/

!/README.md

!/code/
/code/*
!/code/finite_difference.hpp
!/code/geodesic.hpp
!/code/Kerr_accretion.cpp
!/code/Kerr_accretion.py
!/code/Kerr_geodesics.cpp
!/code/Kerr_geodesics.py
!/code/makefile
!/code/metric.hpp
!/code/solve.hpp
!/code/util.hpp
!/code/util.py
!/code/common.hpp
!/code/trajectoryKerrPlot.ipynb
!/code/Kerr_geodesics_verify.ipynb

!/report/
/report/*
!/report/main.bib
!/report/main.tex
!/report/makefile
!/report/solve.hpp
!/report/figures/*
