# This is an opt-in .gitignore system.
*
!/.gitignore
!/.vscode/

!/README.md

!/two_stream_Poisson.mp4

!/code/
/code/*
!/code/finite_difference.hpp
!/code/geodesic.hpp
!/code/electromagnetic.hpp
!/code/GR_redshift.cpp
!/code/GR_redshift.py
!/code/Kerr_accretion.cpp
!/code/Kerr_accretion.py
!/code/Kerr_geodesics.cpp
!/code/Kerr_geodesics.py
!/code/makefile
!/code/metric.hpp
!/code/grid_1d.hpp
!/code/diagnostics_1d.hpp
!/code/Maxwell_1d.hpp
!/code/Maxwell_free_1d.hpp
!/code/pic_1d.hpp
!/code/Vlasov_Poisson_1d.hpp
!/code/two_stream_Poisson.cpp
!/code/two_stream_Poisson.py
!/code/solve.hpp
!/code/util.hpp
!/code/util.py
!/code/common.hpp
!/code/trajectoryKerrPlot.ipynb
!/code/Kerr_geodesics_verify.ipynb
!/code/Kerr_Wald_Solution.ipynb

!/report/
/report/*
!/report/main.bib
!/report/main.tex
!/report/makefile
!/report/solve.hpp
!/report/figures
!/report/figures/*
